<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users Inputs</title>
</head>
<body>
    <h1>All users inputs</h1>

    {% for registration in registrations %}
    <div>
        <h2>{{ registration.first_name }} {{ registration.last_name }}</h2>
        <p>Email: {{ registration.email }}</p>
        <p>Contact Number: {{ registration.contact_no }}</p>
        <p>Country of Residence: {{ registration.country_of_residence }}</p>
        <p>Unique Code: {{ registration.unique_code }}</p>
    </div>
    <hr>
    {% endfor %}
</body>
</html>

